*body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 840px;
    padding: 0 200px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h3 {
    font-size: 2em;
    margin: 0;
    background-color: #fff;
}

p {
    width: 80%;
    margin-left: 20px;
    padding: 20px;
    text-align: left;
}

img {
    text-align: center;
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}