@font-face {
    font-family: ‘your-fonts’;
    src: url(‘fonts/your-fonts.eot’);
    src: url(‘fonts/your-fonts.eot?#iefix’) format(’embedded-opentype’),
        url(‘fonts/your-fonts.woff’) format(‘woff’),
        url(‘fonts/your-fonts.ttf’) format(‘truetype’),
        url(‘fonts/your-fonts.svg#[set]Foundicons’) format(‘svg’);
    font-weight: normal;
    font-style: normal;
}
[class*=”icon-“] {
    font-family: ‘your-fonts’;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

[class*=”icon-“]:before {
    content: “your-fonts-character”;
}

html {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Poppins;
}

body {
    margin: 0px;
    overflow-x:hidden;
}

li {
    list-style-type: none;
}

.item {
    display: none;
}

.nav {
    cursor: pointer;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 80px;
    background-color: #292929;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: -10px;
}

a div,
.box div {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}

.drop div.active {
    background-color: #04AA6D;
}

.box {
    width: 80px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

i {
    font-size: 20px;
    text-align: center;
    width: 40px;
    margin: 25px 20px 10px 20px;
}

#sear {
    margin: 10px 10px 0px 10px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #82628686;
}
.nav .box:hover .fa-solid {
    background-color:#57365b86;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    padding: 15px 10px;
}
.nav .box:hover .fa-regular  {
    background-color:#57365b86;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    padding: 15px 10px;
}
#sun {
    font-size: 30px;
    position: fixed;
    bottom: 15px;
}

.content {
    width: calc(100vw - 100px);
    margin: 10px 10px 10px 90px;
}

.head {
    display: flex;
}

.hleft {
    display: flex;
    justify-content: center;
    width: calc(50vw - 160px);
    height: 500px;
    padding: 0px 50px;
    background-color: rgb(31, 31, 31);
    border-radius: 18px;
}
.hright img {
    height: 500px;
    width:100%;
    border-radius: 18px;
}
h1 {
    font-size: 70px;
    line-height: 1;
}

.center {
    align-items: center;
    height: fit-content;
}

.center p {
    font-size: 23px;
    margin: 20px 0px;
}

.center div {
    font-size: 23px;
    padding: 20px 40px;
    background-color: rgb(150, 104, 255);
    width: fit-content;
    border-radius: 40px;
    color: rgb(12, 0, 82);
    font-weight: bolder;
}
@media (max-width: 1300px) {
    .head {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .hleft {
        width: calc(90vw - 160px);
        margin-left: 15px;
    }

    .hright {
        margin-top: 5px;
        width: calc(90vw - 60px);
        margin-left: 15px;
    }
}

.bodie {
    width: calc(90vw - 170px);
    max-width: 1220px;
    margin: auto;
}

h2 {
    font-size: 50px;
}

.ph1 {
    display: flex;
}

.bodie .list1,.list2,.list3 {
    width: calc(30vw - 70px);
    max-width: 400px;
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(39, 39, 39);
}
.img {
    width: calc(30vw - 70px);
    max-width: 400px;
    height: 200px;
    overflow: hidden; 
    border-radius: 15px;
}

img {
    align-items: center;
    width: 400px;
    background-size:contain;
}

.bodie h3 {
    font-size: 20px;
    margin: 10px;
}

.bodie .list1 p {
    margin: 10px;
}
.bodie .list1:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .list2:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .list3:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .ph2 .container2{
    display:flex;
    flex-direction: row;
}
.bodie .ph2 .container3{
    display:flex;
    flex-direction: row;
}
.bodie .ph2 .list2 p{
    margin:10px;
}
.bodie .ph2 .list3 p{
    margin:10px;
}
.bodie .ph3 .item1{
    background-color: rgba(51, 48, 48, 0.912);
    width:100%;
    border-radius: 30px;
    padding:10px 10px;
}
.bodie .ph3 .item2{
    background-color: rgba(51, 48, 48, 0.912);
    width:100%;
    border-radius: 30px;
    padding:10px 10px;
}
.bodie .container p{
    margin:10px;
}
.bodie .ph3{
    height:500px;
}
.bodie .ph3 .container{
    display:flex;
    flex-direction: column;
}
.bodie .ph3 .container .dong1{
    display:flex;
    flex-direction: row;
    height:150px;
    box-sizing: border-box;
}
.bodie .ph3 .container .dong2{
    display:flex;
    flex-direction: row;
    height:150px;
    box-sizing: border-box;
}
.bodie .ph3 .container .dong1 .item1:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .ph3 .container .dong1 .item2:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .ph3 .container .dong2 .item1:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .ph3 .container .dong2 .item2:hover{
    background-color:rgba(240, 255, 255, 0.301);
}
.bodie .ph3 .container .dong1 .item1{
    margin:5px;
}
.bodie .ph3 .container .dong1 .item2{
    margin:5px;
}
.bodie .ph3 .container .dong2 .item1{
    margin:5px;
}
.bodie .ph3 .container .dong2 .item2{
    margin:5px;
}
hr{
    width:100%;
    margin:0px;
    opacity:0.5;
}
footer{
    height:400px;
    width: calc(90vw - 170px);
    max-width: 1220px;
    margin: auto;
    display:flex;
    align-content: center;
}
.dad{
    display:flex;
}
.dad .container1{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-basis: 50%;
}
.dad .container1 .fa-solid{
    margin-left:0px;
    width:0px;
    margin:0px;
}
.dad .container2{
    display:flex;
    align-content: center;
    justify-content: space-around;
    flex-basis: 50%;
    flex-wrap: wrap;
}
.dad .container2 p{
    font-size:13px;
    color:rgb(194, 192, 192);
}
.dad .container2 ul{
    padding-left: 0px;
}
.dad .container2 li{
    margin:20px;
    text-decoration: underline;
    color:rgb(178, 77, 198);
}
.dad .container2 li a{
    color:rgb(178, 77, 198);
    font-weight:600;
}
.dad .container2 li:hover a{
    color:rgb(226, 184, 241);
}
.mom{
    height:50px;
    width: calc(90vw - 170px);
    max-width: 1220px;
    margin: auto;
    display:flex;
    align-content: center;
    margin-bottom: 30px;
}
.mom .fa-brands{
    width:0px;
    margin:0px;
    margin-right:30px;
}
.mom ul{
    padding:0px;
    margin:0px 10px;
    display:flex;
}
.mom li{
    margin:0px 10px;
}
.mom li:hover{
    text-decoration: underline;
}
    


